@charset "utf-8";

.content {
    clear: both;
}

.content:after {
    content: "";
    display: block;
    width: 100%;
}

#vs1 {
    clear: both;
    width: 100vw;
    height: 146px;
    background-image: url("./images/bg_visual-1.png");
    background-position: right top;
    background-repeat: no-repeat;
}

.vs_tit {
    font-family: 'Wanjudaedunsan';
    text-align: center;
    padding: 24px 0;
    margin: 0 16px;
    font-size: 48px;
    color: #464646;
    font-weight: 700;
}

.vs_sub_tit {
    font-family: 'Wanjudaedunsan';
    text-align: center;
    color:#626262;
    font-weight: 600;
    font-size: 36px;
    padding: 8px 0;
}

.breadcrumb {
    text-align: center;
}

.breadcrumb a,
.breadcrumb span {
    padding-right: 10px;
    font-weight: 400;
    color: #687189;
}

.breadcrumb span {
    padding-left: 8px;
}

.content_wrap {
    display: block;
    width: 1280px;
    margin: 0 auto;
    margin-top: 0px;
    border-top: 1px solid rgb(221, 221, 221);
}

.content_art {
    max-width: 1280px;
    height: auto;
    position: relative;
    background: #fff;
}

.sub_content{
    width: 100%;    
}

.skin_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
    overflow: hidden;
    font-size: 48px;
    font-weight: 600;
    margin-top: 70px;
}
.sub_article{
    max-width: 1080px;
    position: relative;;
    padding: 48px 0;
}
.food_balance{
    width: 100%;
}

.intro_con_wrapper {
    display: flex;
    align-items: center;
}

.intro_con_wrapper img {
    flex-direction: row;
    justify-content: center;
}
.round_card {
    text-align: center;       /* 텍스트 가운데 */
    margin: 0 auto;
    max-width: 1200px;
    padding: 60px 20px;
}

/* 제목 영역 */
.round_header {
    margin-bottom: 20px;
}

.round_header_desc {
    margin-bottom: 50px;
    line-height: 1.8;
}

.battle_sec {
    display: flex;
    justify-content: center;      /* 전체 가운데 정렬 */
    align-items: flex-start;
    gap: 60px;                    /* 좌우 간격 */
    margin-top: 40px;
}

/* 좌/우 카드 공통 */
.battle_banner_lft,
.battle_banner_r {
    width: 48%;
    text-align: center;           /* 내부 내용 가운데 */
}