@charset "utf-8";
#vs{
    overflow: hidden;
}
#vs .img_box {
    width:400vw;
    overflow: hidden;
    transition: 0.8s; 
}
#vs .img_box li {
    width: 100vw;
    float:left;
    position: relative;
}
#vs img {
    width: 100%;
    height: auto;
    display: block;
}
.tit_box{
    position: absolute;
    left: 10%;
    bottom : 0;
    padding-bottom: 80px;
}
.tit_box h3 {    
    color: #fff;
    text-align: left;
    font-family: 'Wanjudaedunsan';
    font-size: 60px;
    text-shadow: 1px #000;
    line-height: 60px;
}
.vs_text{ 
    font-size:20px;
    color: #fff;
    padding-top: 20px;
    text-shadow: 1px #000;
}
.tit_box a {
    display: block;
    clear: both;
    width: 140px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;    
    padding-bottom: 18px;
    color: #000;
    background-color: #dce0de;
    transition: 0.6s;
    border-radius: 35px 35px 35px 35px;
}
.tit_box a:hover {
    border-radius: 0px 35px 0px 35px;
    background-color: #123cc4;
    color: #fff;
    opacity:0.8;
}

.btn_box {
    position:absolute;
    left: 0;
    bottom: 8%;
    z-index: 10;
    width: 100%;
    height:24px;
}
.btn_wrap {
    width: 80px;
    margin: 0 auto;
    display: flex;
}
.btn_wrap li {
    width: 25px;
}
.vs_btn {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    border:2px solid #ccc;
    box-shadow: 1px 1px 0px #fff;
}
.ra {
    display: none; 
}
#ra1:checked ~ .img_box {
    margin-left: 0;
}
#ra2:checked ~ .img_box {
    margin-left:-100vw;
}
#ra3:checked ~ .img_box {
    margin-left:-200vw;
}
#ra4:checked ~ .img_box {
    margin-left:-300vw;
}
#ra1:checked ~ .btn_box #vs_btn1 {
    background-color: #0d8460;
    opacity: 0.7;
}
#ra2:checked ~ .btn_box #vs_btn2 {
    background-color: #0d8460;
    opacity: 0.7;
}
#ra3:checked ~ .btn_box #vs_btn3 {
    background-color: #0d8460;
    opacity: 0.7;
}
#ra4:checked ~ .btn_box #vs_btn4 {
    background-color: #0d8460;
    opacity: 0.7;
}